<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>800Best_武昌水果湖二派</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
		<link rel="shortcut icon" href="ico/favicon.ico">
		<link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
		<link rel="stylesheet" href="css/main.css">
		<!-- 新 Bootstrap4 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<!-- -->
		<link  rel="stylesheet" href="js/easyUpload.js/easy-upload.css">
 
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
 
		<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
		<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
 
		<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
		<script src="js/cryptico.min.js"></script>
		<script src="js/Vue_template.js"></script>
		<!-- -->
		<script src="js/easyUpload.js/easyUpload.js"></script>
    </head>
   	<body>
		   <!--      
	   	<div id="head">
	        header 
			 <app-header></app-header>
    	</div>		
		<hr/>
		-->
		<div class="container-fluid" id="vm">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
					<div class="col-md-8 card">
						<div id="easyContainer"></div>
					</div>
					<div class="col-4 card">
						<div class="form-group">
						  <label for="">选取检索列表</label>
						  <select multiple class="form-control" name="" id="" v-model='filelist_select'>
							<option v-for="(val,key) of filelist" :value="key">{{val}}</option>
					
						  </select>
						</div>
						
					</div>
					</div>

					<hr/>
					<div class="col-12">
						<div class="row">							
							<div class="col-6 card">
								<app-block title="已选取文件">
										<ul slot="body">
											<li v-for="i in selectlist" @click="click_rename">{{i}}</li>
										</ul>
								</app-block>
							</div>
							<div class="col-6 card">
								<app-block title="操作">
										<div class="form-group" slot="body">												
												<div class="form-inline">
													<div class="form-group">
														<p>解构 <input class="form-control" v-model='Month' style="width:50px">月签收账单数据  </p>
														<a href="#tablelist" type="button" class="btn btn-primary" @click='ParesXlsx'>解构xlsx文档</a>
													</div>
												</div>
												<hr/>
												
												<button type="button" class="btn btn-danger btn-xs" @click = "RM_file" v-if="selectlist.length > 0">rm{{selectlist}}</button>
		
											</div>
								</app-block>
							</div>
						</div>
						<!-- modal-->
						<app-modal ids="reg_name" title="修改文件名" btntext="修改" @modal="reg_filenames">
							<input class="form-control " v-model="reg_filename.new">
						</app-modal>
					</div>
				</div>
				<hr/>
				<div class="col-md-12 ">
						<table class="table" class="table-striped table-striped table-bordered table-hover table-responsive">
							
							<tbody  v-for="(item,name) in Accpt">
								<tr>
										<th>Accpt</th>
										<th v-for="(costtype,n) in item" v-if="n != 'xp'">{{costtype.costtype}}</th>
										<th>小票数/小票补贴</th>

										
								</tr>
								<tr>
									<td>{{item.name}}</td>
									<td v-for="(cost,n) in item" v-if="n != 'xp'">{{cost.cost}}</td>
									<td>{{item.xp.xp_num}}/{{item.xp.xp_bt}}</td>
									
								</tr>								
							</tbody>
						</table>
					</div>
				<hr/>
				<div class="col-md-12">
					<table class="table"  class="table-striped table-condensed table-striped table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th  v-for="item in Company" >{{item.name}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td v-for="item in Company">{{item.val}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="col-md-12 hidden" id="tablelist">
						<span class="badge badge-primary">汇总统计每人月度</span>
					<table class="table table-{1:striped|sm|bordered|hover|inverse} table-responsive">
						<thead class="thead-inverse|thead-default">
							<tr>
								<th>code</th>
								<th>税前派费</th>
								<th>上楼费</th>
								<th>手续费</th>
								<th>退到付款</th>
								<th>公共支出</th>
								<th>结余(分摊支出)</th>
								<th>实际打款</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row">蔡瑞</td>
									<td><input v-model="arg.cr.pf" type="number" class="form-control"/></td>
									<td><input v-model="arg.cr.sl" type="number" class="form-control"/></td>
									<td><input v-model="arg.cr.sx" type="number" class="form-control"/></td>
									<td><input v-model="arg.cr.tf" type="number" class="form-control"/></td>
									<td><input v-model="arg.cr.zc" type="number" class="form-control"/></td>
									<td>{{Cmn('cr')}}</td>
									<td><input v-model="arg.cr.dk" type="number" class="form-control"/></td>
								</tr>
								<tr>
										<td scope="row">李飞</td>
										<td><input v-model="arg.lf.pf" type="number" class="form-control"/></td>
										<td><input v-model="arg.lf.sl" type="number" class="form-control"/></td>
										<td><input v-model="arg.lf.sx" type="number" class="form-control"/></td>
										<td><input v-model="arg.lf.tf" type="number" class="form-control"/></td>
										<td><input v-model="arg.lf.zc" type="number" class="form-control"/></td>
										<td>{{Cmn('lf')}}</td>
										<td><input v-model="arg.lf.dk" type="number" class="form-control"/></td>
									</tr>
									<tr>
											<td scope="row">曾涛</td>
											<td><input v-model="arg.zt.pf" type="number" class="form-control"/></td>
											<td><input v-model="arg.zt.sl" type="number" class="form-control"/></td>
											<td><input v-model="arg.zt.sx" type="number" class="form-control"/></td>
											<td><input v-model="arg.zt.tf" type="number" class="form-control"/></td>
											<td><input v-model="arg.zt.zc" type="number" class="form-control"/></td>
											<td>{{Cmn('zt')}}</td>
											<td><input v-model="arg.zt.dk" type="number" class="form-control"/></td>
										</tr>
										<tr>
												<td scope="row">李鹏</td>
												<td><input v-model="arg.lp.pf" type="number" class="form-control"/></td>
												<td><input v-model="arg.lp.sl" type="number" class="form-control"/></td>
												<td><input v-model="arg.lp.sx" type="number" class="form-control"/></td>
												<td><input v-model="arg.lp.tf" type="number" class="form-control"/></td>
												<td><input v-model="arg.lp.zc" type="number" class="form-control"/></td>
												<td>{{Cmn('lp')}}</td>
												<td><input v-model="arg.lp.dk" type="number" class="form-control"/></td>
											</tr>
							</tbody>
					</table>
				</div>
			</div>

		</div>
        <script src="js/plugins.js"></script>
        <script src="js/details.js"></script>     
    </body>
</html>
